html, body{
  height: 100%;
  margin: 0;
  background-color:#584252;
  color:azure;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add padding to containers */
.login-field {
  padding: 16px;
  
}
.password-text{
    display: flex;
    justify-content: space-evenly;
}
.username-text{
    display: flex;
    justify-content: space-evenly;
}

.login-contents {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Aligns form to bottom */
  height: 100%;
}

.login-picture{
  display: flex;
  justify-content: center;
  align-items: center; /* Aligns form to bottom */
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}